html {
  scroll-behavior: smooth;
}
#nav {
  position: fixed;
  left: 0;
  width: 25%;
  height: 100%;
  background-color: #424242;
  
}
#nav img {
  width: 100%;
  position: absolute;
  top: 0px; 
left: 0px; 
z-index: -1;
}
#nav td {
  height: 40px; 
  border-bottom: #777777  groove;
  padding: 0 0 0 20px;
  width: 20%;
  
  
}
#nav td a {
  text-decoration: none;
  color: white;
}
#main {
  position: fixed;
  right: 0;
  height: 100%;
  width: 75%;
}
body{
  width: 100%;
}



.menu {
    width: 25%;
    float: left;
  }
  .main {
    width: 75%;
    float: right;
  }

.golyo{
    width: 25%;
    height: auto;
}


  #container{
    width: 100%;
  }


  
.col-3 {width: 25%;}

.col-9 {width: 75%;}


table{
  margin-top: 50px;
  font-size: 15px;
}

td{
  border-bottom: groove
  #777777;
  height: 60px;
}
.lotto{
      font-size: 30px;
      text-shadow: 2px 2px #000;
      font-size:5vw;
      text-align: center;
   ;}


#id_0 {text-align: center;
  position: relative;
  border-radius: 50%;
  width: 55%;
  height: auto;
  padding-bottom: 17.5%;
  padding-top: 17.5%;
  margin-left: 20%;
 
  background-color: #00965E; 
     color:#ffffff;
     

     
    
    
  }

  .bent{
    top: 100%;
    left: -48.6%;
    float: left;
    position: relative;
    font-weight: bold;
    transform: translateY(100%);
    margin-left: 6.9%;
    font-size: 1.25vw;
    margin-top: 0.3%;
    
}
hr{
  border-color: black;
  margin-right: 20%;
}

#ures{
  margin-top: 20%;
}

.szam{
  width: 9%;
  float: left;
padding: 0.2%;
  margin-bottom: 7%;
  min-width: 1vw;
}

#adatok:after{
  display: fixed;
  clear: both;
}

#tartalom{
  position: fixed;
  left: 32%;
  top: 5%;
  font-size: 1.3vw;
}

#korábbi{
  font-weight: bold;
  font-size: 250%;
}

.grafikonok{
  width:40%;
}
.graf{
  width: 20px;
}

.kep{
  font-size: 200%;
}

.erdekes{
  text-align: justify;
  padding-right: 50%;
}
#erdekcim{
  padding-top: 5%;
}

#nyero1{
  position: fixed;
  left: 72%;
  top: 7%;
  width: 20%;
}