
html{

     top:0;
     bottom:0;
     left:0;
     right:0;
     height: 100%;
     width: 1200px;
     }
     
body{
     font-family: Arial, Helvetica, sans-serif;
          top:0;
          bottom:0;
          left:0;
          right:0;
          height: 100%;
width: 1200px;
    
}



.feher{
     color: white;
     
}



.lottó{
     font-size: 80px;
     text-shadow: 2px 2px #000;
   margin:auto;
   text-align: center;
    }
 
 #kör{border:1px solid x00965E;
     background-color: #00965E; 
     color:#ffffff;
     width: 200px; height: 100px;
    

     text-align:center;
    border-radius: 100%; width: 150px;
     padding-left: 10%;
     padding-right: 30%;
    padding-bottom: 20%;
    padding-top: 20%; 

     border-radius: 100%; width: 90px; 
     
     
     
   

 }
    
 
     
 
 .koreslotto{
     padding-top: 150px;
     padding-left: 150px;
 }

 .bal{
      
    
    float: left;
 }

 .jobb{
     width: 25cm;
   padding-top: 20px;
     padding-right: 250px;
     font-size: 40px;
     float:right
     
     
 
  }*/

 
   .golyo {
     width: 100px;
     height: 60px;
 }
 
 
 .golyo img {
     width: 15%;
     height: auto;
 }
 a{
     text-decoration-line: none;
     color: white;
 }

 #p1{

    position: absolute;
    
   word-spacing: 97px;
    width: 25cm;
    padding-top:10px;
      padding-left: 50px;
      font-size: 40px;
      float:right 

      
      
 }

 #p2{
  
    position: absolute;
    
   word-spacing: 97px;
    width: 25cm;
    padding-top:10px;
      padding-left: 50px;
      font-size: 40px;
      float:right 

    
 }
 header{
    
     background-image:url(img/hatter.jpg) ;
     background-repeat: no-repeat;
    height: 500px;
     width: 600px;
position: relative;
     border: top left radius 30px; ;
    
}
 
sidebar-left {
     height: 100%;
     width: 600px;
     position: fixed;
     z-index: 1;
     top: 100;
     left: 1;
    /* background-color: #424242;*/
     overflow-x: hidden;
    
   }
   
   sidebar-left a {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 25px;
     color: #f1f1f1;
     display: block;
   }
   
   sidevar-left a:hover {
     color: #f1f1f1;
   }
   
.tablazat{
     border: solid;
     background-color:#424242;
     border-color: #424242;
     width:700px;
     height:500px;
     padding-left: 30px;
     padding-right: 30px;
     
}

td{
     border-bottom: groove
     #777777
     
}