

 body{
      font-family: Arial, Helvetica, sans-serif;
 }

 #ur{
     margin-top: 5%;
 }
 
 #bent1{
     left: -34.9vw;
 }
 
 #bent2{
     left: -34.25vw;
 }
 
 #bent3{
     left: -33.95vw;
 }
 
 #bent4{
     left: -33.92vw;
 }
 
 #bent5{
     left: -33.92vw;
 }