



 #ur{
     margin-top: 5%;
 }
 
 #bent1{
     left: -32.65vw;
    
 }
 
 #bent2{
     left: -32.1vw;
    
 }
 
 #bent3{
     left: -31.9vw;
    
 }
 
 #bent4{
     left: -32vw;
     
 }
 
 #bent5{
     left: -32vw;
   
 }

