body{
     background-image: url(hatter.jpg);
     background-repeat: no-repeat;
     font-family: Arial, Helvetica, sans-serif;
}

.tablazat{
     border: solid;
     background-color: grey;
     border-color: grey;
}

.feher{
     color: white;
}