body{
     font-family: Arial, Helvetica, sans-serif;
}

.tablazat{
     border: solid;
     background-color: grey;
     border-color: grey;
}

.feher{
     color: white;
}
header{
     background-image:url(hatter.jpg) ;
     background-repeat: no-repeat;
     height: 600px;
     width: 700px;
    
}

.golyo {
     width: 50%;
     height: auto;
 }
.golyo img {
     width: 15%;
     height: auto;
 }

 #jobb{
     float: right;

 }
    
 
 #kör{border:1px solid green;
     background-color: green; 
     color:#ffffff;
     width: 150px; height: 100px; 
     padding: 20%; 
     text-align:center;
     border-radius: 50%; width: 100px; 
     
     
     

 }
    
 #lotto{
     padding-top: 250px;
     padding-left: 250px;
     font-size: 80px;
     text-shadow: 2px 2px #000;
     }

#középkör{
     padding-top: 250px;
     margin-right: 250px;
     size: 80px;
}